.remove-assignment-content {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-container {
  background-color: #403d58;
  color: #fff;
  height: 100vh;
  
  width: 100%;
  height: auto;
  background-position: center;
  /*background-repeat: no-repeat; can maybe delete */
  background-size: cover;
  position: relative;
  overflow: hidden;

}

.content-container li{
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  background-color: #dbd56e;
  height: 600px;

  img{
    width: auto;
    height: 600px;
    margin-right: 2rem;

  }
  
.contents h1, p{
  text-align: center;
}
/* content paragraph */
.content-container p{
  width: fit-content;
  background-color: #8ca0ff;
  padding: 5px;
  margin-bottom: 1em;
  }
}

.accordion-container {
  background-color: #fc7753;
  color: #fff;
  height: 600px;
}

.footer-container {
  background-color: #f2efea;
  width: 100%;
  height: 300px;
  position: relative;
}
